<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Posts</title>
 <link rel="stylesheet" href="/posts.css">
</head>
<body>
 <h1>All Posts</h1>
  <div class="posts">
        <% for(let post of data){ %>
          <div class="">
         <ul>
           <li><%= post.name %></li>
           <li><%= post.content %></li>
           <a href="http://localhost:2024/posts/<%= post.id %>">View</a>
         <form method="POST" action="/posts?_method=PATCH"></form>
            <a href="http://localhost:2024/posts/edit/<%= post.id %>">Edit</a>
        </form>
          <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
            <button type="submit">Delete</button>
          </form>
         </ul>
         </div>

         
         <%}%>
  </div>
  <button><a href="http://localhost:2024/posts/new">Create New Post</a></button>
</body>
</html>
