<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Edit</title>
</head>
<body>
 <%= console.log(edit_data) %>
 <h1>Edit Here</h1>
 
 <form action="http://localhost:9090/users" method="post">
  <input type="text" placeholder="Edit Name" name="id" value="<%= edit_data[0] %>">
  <input type="text" placeholder="Edit Name" name="username" value="<%= edit_data[1] %>">
  <input type="text" placeholder="Edit Email" name="email" value="<%= edit_data[2] %>"></input>
  <input type="text" placeholder="Edit Email" name="pin" value="<%= edit_data[2] %>"></input>
   <button type="submit">Submit</button>
 </form>
</body>
</html>