<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <link rel="stylesheet" href="/users.css">
</head>
<body>
    <h1>Users Details</h1>
    <div class="users-details">
       <div class="user">
           <% for(let i of data){ %>
            <div class="single-user">
                <h2><%= i.id %></h2>
                <h2><%= i.name %></h2>
                <a href="http://localhost:5050/users/<%= i.id %>"><button>Show</button></a>
                <a href="http://localhost:5050/users/edit/<%= i.id %>"><button>Edit</button></a>
                <form method="POST" action="/users/<%= i.id %>?_method=DELETE">
                    <button type="submit">Delete</button>
                </form>
            </div>
           <% } %>
       </div>
       <a href="http://localhost:5050/add"><button>Create New Post</button></a>
    </div>
</body>
</html>
