<% layout('./layout/biolarplate.ejs') -%>
<body><br>
  <div class="row-5" class="offset-0">
     <form method="POST" action="/edit/handle/<%= edit_data._id %>?_method=PATCH"
          style="width:40rem"
          class="row g-3 needs-validation" novalidate
      >
      <div>
            <label for="title" class="form-label"><b>Book Title</b></label> 
            <input type="text" class="form-control" name="title" value="<%= edit_data.title %>"><br>
      </div>
  <div> 
  <label for="author" class="form-label"><b>Author</b></label> 
   <input type="text" class="form-control" name="author" value="<%= edit_data.author %>"><br>
  </div>
  <div> 
  <label for="image_url" class="form-label"><b>Image URL</b></label>
   <textarea rows="5" class="form-control" cols="25" type="text" name="image_url"><%= edit_data.image_url %></textarea><br>
  </div>
  <div> 
  <label for="price" class="form-label"><b>Price</b></label> 
   <input type="text" class="form-control" name="price" value="<%= edit_data.price %>"><br>
  </div>
  <div>
  <label for="book_type" class="form--label"><b>Book Type</b></label> 
   <input type="text" class="form-control" name="book_type" value="<%= edit_data.book_type %>"><br>
  </div>
     <button class="btn btn-warning" type="submit">Click & Edit</button>
  </form>
</div>
</body>

   