<% layout('./layout/biolarplate.ejs') -%>
<body>
  <div class="show-container" class="mt-6">
    <div class="row">
      <div class="card" style="width: 35rem;">
        <img src="<%= res.image_url %>" style="height: 22rem" class="card-img-top" alt="images">
        <div class="card-body">
          <h5 class="card-title">Title : <b><%= res.title %></b></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Author : <b><%= res.author %></b></li>
          <li class="list-group-item">Book Type : <b><%= res.book_type %></b></li>
          <li class="list-group-item">Price : <b><%= res.price %></b></li>
        </ul>
        <div class="card-body">
          
          <a href="/index/edit/<%= res._id %>" class="card-link">
            <button type="button" class="btn btn-success">Edit</button>
          </a>
          <br>
          <br>
          <form method="POST" action="/delete/<%= res._id %>?_method=DELETE">
              <button type="submit" class="btn btn-danger">Delete Book Details</button>
          </form>
        </div>
      </div>
    </div>
</div>

</body>


