<% layout('/layouts/biolerplate') %>
<div class="container">
   <div class="row justify-content-center">
      <div class="col-md-4 col-8">
         <br>
         <div id="show" class="card card-style mb-3">
            <h2>Hotel Details</h2><br>
            <img src="<%= res.image.url %>" class="card-img-top show-img" alt="Image">
            <div class="card-body">
               <h5 class="card-title"><b><%= res.title %></b></h5>
               <p class="card-text"><large class="text-body"><%= res.description %></large></p>
               <p class="card-text"><large class="text-body">&#8377; <%= res.price ? res.price.toLocaleString("en-IN") : 'N/A' %> / Night</large></p>
               <p class="card-text"><large class="text-body"><%= res.location %></large></p>
               <p class="card-text"><large class="text-body"><%= res.country %></large></p>
               <br>
               <div class="d-flex justify-content-between">
                  <button class="btn btn-primary edit-btn"><a href="/edit/<%= res._id %>" class="text-white text-decoration-none">Edit</a></button>
                  <form method="POST" action="/delete/<%= res._id %>?_method=DELETE">
                     <button class="btn btn-danger delete-btn" type="submit">Delete</button>
                  </form>
               </div>  
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Optional Review Form Section -->
<!-- <div class="review-form-container mt-4">
    <form action="/listings/<%= res._id %>/review" method="POST">
       <input type="text" placeholder="Enter Comment" name="comment" class="form-control mb-2">
       <input type="number" placeholder="Rating" name="rating" class="form-control mb-2">
       <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>
</div> -->
