
<%- include("includes/header.ejs") %>

<body>
    
    <div class="card text-center">
        <div class="card-header">
          Profile
        </div>
        <div class="card-body">
          <h4 class="card-title">
            Username : @<%= data.name %>
          </h4>
          <h6 class="card-title">
            Followers : <%= data.followers %>
          </h6>
          <h6 class="card-title">
            Following : <%= data.following %>
          </h6>
          <br>
          <div class="d-grid gap-1 col-3 mx-auto">
            <button class="btn btn-primary" type="button">Follow</button>
            <button class="btn btn-primary" type="button">Message</button>
          </div>
        </div>
        <div class="card-footer text-body-secondary">
          Posts
        </div>
      </div>
      <br>
      <% for(let post of data.posts){ %>
        <div class="card" style="width: 10rem;">
            <img height="150rem" src="<%= post.image %>" class="card-img-top" alt="image here">
            <div class="card-body">
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Likes : <%= post.likes %></li>
              <li class="list-group-item">Comments : <%= post.comments %></li>
            </ul>
          </div>
          <br>
      <% } %>
      

        <!-- footer -->
        <%- include("includes/footer.ejs") %>
    
</body>
</html>